.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
  z-index: 2;
}

.add-city-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1000px;
  margin: 100px auto;
}

.add-city-modal .add-city-content {
  background: -webkit-gradient(linear, left top, left bottom, from(#8DAFE2), to(#FF9696));
  background: linear-gradient(180deg, #8DAFE2 0%, #FF9696 100%);
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-city-modal .add-bg {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.add-city-modal .add-bg .bg-image {
  width: 1000px;
  opacity: .8;
}

.add-city-modal .close-modal-btn {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: -45px;
  right: 0;
  border-radius: 15px;
}

.add-city-modal .close-modal-btn .iconify {
  font-size: 20px;
}

.add-city-modal .close-modal-btn:hover {
  height: 50px;
  width: 50px;
  background: #8DAFE2;
  top: -65px;
}

.add-city-modal .left-side {
  width: 60%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#3F3F3F), to(rgba(63, 63, 63, 0.92)));
  background: linear-gradient(180deg, #3F3F3F 0%, rgba(63, 63, 63, 0.92) 100%);
  border: 1px solid #EBEBEB;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #ebebeb;
}

.add-city-modal .left-side .search-result {
  width: 100%;
  overflow-y: scroll;
}

.add-city-modal .left-side .search-box {
  position: relative;
  width: 100%;
}

.add-city-modal .left-side .search-box .search-input {
  padding: 0 8px;
  width: 100%;
  height: 30px;
  border-radius: 15px;
  background: transparent;
  border: 2px solid #ebebeb;
  color: #ebebeb;
}

.add-city-modal .left-side .search-box .search-input:focus {
  outline: none;
  border: 2px solid #8DAFE2;
}

.add-city-modal .left-side .search-box .iconify {
  position: absolute;
  font-size: 24px;
  right: 9px;
  top: 3px;
  z-index: 1;
}

.add-city-modal .left-side .cities-line {
  border: 1px solid #ebebeb;
}

.add-city-modal .left-side .city-search {
  width: 100%;
  border-bottom: 2px solid #ebebeb;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.add-city-modal .left-side .city-search .city-name {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  -webkit-transition: color .3s, -webkit-transform .3s;
  transition: color .3s, -webkit-transform .3s;
  transition: color .3s, transform .3s;
  transition: color .3s, transform .3s, -webkit-transform .3s;
}

.add-city-modal .left-side .city-search .add-city-btn {
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.add-city-modal .left-side .city-search .add-city-btn:hover {
  width: 50px;
  background: #8DAFE2;
}

.add-city-modal .left-side .city-search:hover .city-name {
  color: #8DAFE2;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.add-city-modal .right-side {
  height: 100%;
  width: 40%;
}

.add-city-modal .right-side .cities-to-add {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
}

.add-city-modal .right-side .btns-box {
  height: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 10px;
}

.add-city-modal .right-side .btns-box .btn {
  -webkit-box-shadow: 0 0 15px 1px #000;
          box-shadow: 0 0 15px 1px #000;
  background: rgba(0, 0, 0, 0.371);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.add-city-modal .right-side .btns-box .cancel-btn:hover {
  background: #dd5656;
}

.add-city-modal .right-side .btns-box .create-btn:hover {
  background: #8DAFE2;
}

.add-city-modal .right-side .city-box {
  margin-bottom: 10px;
}

.search-result::-webkit-scrollbar,
.cities-to-add::-webkit-scrollbar {
  background: #fff;
  width: 5px;
}

.search-result::-webkit-scrollbar-thumb,
.cities-to-add::-webkit-scrollbar-thumb {
  background: #ebebeb;
}
/*# sourceMappingURL=AddCityStyle.css.map */